<%-include('layouts/header', {title: 'products'}) %>
<%-include('partials/menu') %>
<div class="container" style="margin-top: 200px; margin-bottom: 100px;">
    <section class="aboutus_section">
        <div class="row  d-flex justify-content-between p-5" id="about_us_banner">
            <div class="col-12 col-lg-6 d-flex align-items-center order-2 order-lg-1">
                <div class="description">
                    <h1 class="text-center text-lg-left mb-3">Lorem ipsum dolor.</h1>
                    <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, repellendus maxime ut atque ducimus impedit natus excepturi enim recusandae.</p>
                </div>
            </div>
            <div class="col-12 col-lg-5 d-flex align-items-center order-1 order-lg-2">
                <div class="img_container">
                    <img class="img-fluid" src="../img/mercedes.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="aboutus_section">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-5 text-center">Lorem ipsum dolor sit</h2>
                <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem ut atque harum, hic suscipit iusto deleniti commodi repellat fugit, quo officia id, provident soluta sed! Omnis expedita cum nam non. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem ut atque harum, hic suscipit iusto deleniti commodi repellat fugit, quo officia id, provident soluta sed! Omnis expedita cum nam non.</p>
            </div>
        </div>
    </section>
    
    <section class="aboutus_section">
        <div class="row">
            <div class="col-12 col-lg-6 pl-auto pl-lg-0">
                <img class="img-fluid shadow-sm" src="../img/girlselling.jpg" alt="">
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center">
                <div class="description">
                    <h2 class="mb-3 text-center text-lg-left mt-3 mt-lg-0">Lorem ipsum dolor</h2>
                    <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. At provident fugiat tempore voluptates. Eveniet ad, exercitationem corrupti, officia quidem optio amet in, commodi obcaecati rem illum! Pariatur consectetur voluptatem minus!</p>
                </div>
            </div>
        </div>
    </section>

    <section class="aboutus_section">
        <div class="row">
            <div class="col-12 col-lg-6 d-flex align-items-center">
                <div class="description">
                    <h2 class="mb-3 text-center text-lg-left mt-3 mt-lg-0">Lorem ipsum dolor</h2>
                    <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. At provident fugiat tempore voluptates. Eveniet ad, exercitationem corrupti, officia quidem optio amet in, commodi obcaecati rem illum! Pariatur consectetur voluptatem minus!</p>
                </div>
            </div>
            <div class="col-12 col-lg-6 pr-auto pr-lg-0">
                <img class="img-fluid shadow-sm" src="../img/closeDeal.jpg" alt="">
            </div>
        </div>
    </section>

    <section class="aboutus_section">
        <div class="row">
            <div class="col-12 col-md-4 text-center">
                <h4 class="mb-3">
                    <span>
                        <i class="fas fa-medal"></i>
                    </span>
                </h4>
                <h6>Lorem ipsum</h6>
            </div>
            <div class="col-12 col-md-4 text-center">
                <h4 class="mb-3">
                    <span>
                        <i class="fas fa-bullhorn"></i>
                    </span>
                </h4>
                <h6>Lorem ipsum</h6>
            </div>
            <div class="col-12 col-md-4 text-center">
                <h4 class="mb-3">
                    <span>
                        <i class="fab fa-btc"></i>
                    </span>
                </h4>
                <h6>Lorem ipsum</h6>
            </div>
        </div>
    </section>
</div>
<%-include('partials/footer') %>
<%-include('layouts/footer') %>  