<%-include('layouts/header', {title: 'terms'}) %>
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-5 text-justify">Términos y condiciones</h1>
            <p class="mb-3 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dolore dignissimos blanditiis ab quod quis mollitia molestias a? Molestiae sunt ab odio accusamus eos. Earum distinctio deserunt animi maiores eos.</p>
            <p class="mb-3 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex provident hic optio! Mollitia vero nihil tempore unde, eius sit dolorem nulla sunt labore modi cumque eveniet obcaecati tempora id non facilis, eum fugit. Quisquam numquam, deserunt velit, atque ad repudiandae, quod laborum quidem nostrum vero quia iure nemo. Voluptates, pariatur.</p>
            <p class="mb-3 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quidem eaque dicta modi voluptatem corrupti aut minima perspiciatis sunt fugit, esse, at ipsam commodi iste exercitationem cupiditate alias dolores laboriosam odio cumque assumenda vel illum quisquam quas! Quaerat consequatur similique dolor ratione deserunt blanditiis dolore quibusdam aliquid ut?</p>
            <h3 class="mb-3">Lorem ipsum</h3>
            <p class="mb-3 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex provident hic optio! Mollitia vero nihil tempore unde, eius sit dolorem nulla sunt labore modi cumque eveniet obcaecati tempora id non facilis, eum fugit. Quisquam numquam, deserunt velit, atque ad repudiandae, quod laborum quidem nostrum vero quia iure nemo. Voluptates, pariatur.</p>
            <p class="mb-3 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quidem eaque dicta modi voluptatem corrupti aut minima perspiciatis sunt fugit, esse, at ipsam commodi iste exercitationem cupiditate alias dolores laboriosam odio cumque assumenda vel illum quisquam quas! Quaerat consequatur similique dolor ratione deserunt blanditiis dolore quibusdam aliquid ut?</p>
            <h3 class="mb-3">Lorem ipsum dolor sit.</h3>
            <p class="mb-3 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex provident hic optio! Mollitia vero nihil tempore unde, eius sit dolorem nulla sunt labore modi cumque eveniet obcaecati tempora id non facilis, eum fugit. Quisquam numquam, deserunt velit, atque ad repudiandae, quod laborum quidem nostrum vero quia iure nemo. Voluptates, pariatur.</p>
            <p class="mb-3 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quidem eaque dicta modi voluptatem corrupti aut minima perspiciatis sunt fugit, esse, at ipsam commodi iste exercitationem cupiditate alias dolores laboriosam odio cumque assumenda vel illum quisquam quas! Quaerat consequatur similique dolor ratione deserunt blanditiis dolore quibusdam aliquid ut?</p> 
            <h3 class="mb-3">Lorem ipsum dolor</h3>
            <p class="mb-3 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex provident hic optio! Mollitia vero nihil tempore unde, eius sit dolorem nulla sunt labore modi cumque eveniet obcaecati tempora id non facilis, eum fugit. Quisquam numquam, deserunt velit, atque ad repudiandae, quod laborum quidem nostrum vero quia iure nemo. Voluptates, pariatur.</p>
            <p class="mb-3 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quidem eaque dicta modi voluptatem corrupti aut minima perspiciatis sunt fugit, esse, at ipsam commodi iste exercitationem cupiditate alias dolores laboriosam odio cumque assumenda vel illum quisquam quas! Quaerat consequatur similique dolor ratione deserunt blanditiis dolore quibusdam aliquid ut?</p>
            <h3 class="mb-3">Lorem ipsum dolor sit.</h3>
            <p class="mb-3 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex provident hic optio! Mollitia vero nihil tempore unde, eius sit dolorem nulla sunt labore modi cumque eveniet obcaecati tempora id non facilis, eum fugit. Quisquam numquam, deserunt velit, atque ad repudiandae, quod laborum quidem nostrum vero quia iure nemo. Voluptates, pariatur.</p>
            <p class="mb-3 text-justify mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quidem eaque dicta modi voluptatem corrupti aut minima perspiciatis sunt fugit, esse, at ipsam commodi iste exercitationem cupiditate alias dolores laboriosam odio cumque assumenda vel illum quisquam quas! Quaerat consequatur similique dolor ratione deserunt blanditiis dolore quibusdam aliquid ut?</p>        
        </div>
        <div class="col-12 d-flex justify-content-start mb-5mt-5">
            <a href="/" class="btn btn-dark d-block pr-5 pl-5">
               <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-bar-left mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"></path>
               </svg>
               Regresar
            </a>
         </div>
    </div>
</div>
<%-include('layouts/footer') %>  