<% if(message != ''){ %>
    <div class="container mt-3">
        <div class="row">
            <div class="col-12 p-0">
                <div class="alert alert-primary rounded-0" role="alert">
                    <%= message %>
                  </div>
            </div>
        </div>
    </div>                
<% } %>    


