
<div class="filters bg-light border-bottom">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-md navbar-light bg-light pr-0 pl-0 pt-2 pb-2 pt-md-5 pb-md-5 w-100">
                <div class="pl-3 pr-3 d-flex w-100 justify-content-between pt-2 pb-2 d-block d-md-none">
                    <a class="navbar-brand d-block d-md-none" href="#">Filtros</a>
                    <button class="navbar-toggler border-0 pr-0 pl-0 text-dark filters_btn" type="button" data-toggle="collapse" data-target="#filtersToggle" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-bar-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6z"/>
                        </svg>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="filtersToggle">
                <div class="container">
                    <%if( all_brands) { %>
                    <form action="/product/filters" method="POST" class="w-100 d-flex flex-wrap">
                        <div class="filter_option p-0 pr-0 pr-md-3 mt-md-0 mb-3 mb-md-0">
                            <select class="form-control capitalize" id="brand_filter" name="brand">
                                <option value="no_brand" disabled selected name="brand">Seleccione una marca</option>
                                    <% for(i=0; i<all_brands.length; i++){ %>
                                        <option value=<%= all_brands[i] %>><%= all_brands[i] %></option>
                                    <% } %>
                            </select>
                        </div>
                        <div class="filter_option pr-0 pr-md-3 p-0 mb-3 mb-md-0">
                            <select class="form-control capitalize" disabled id="model_filter" name="model">
                                <option disabled selected>Seleccione un modelo</option>
                            </select>
                        </div>
                        <div class="filter_option p-0 pr-0 pr-md-3 mb-3 mb-md-0">
                            <select class="form-control capitalize" id="AutoManual_filter" name="transmision" disabled>
                                <option disabled selected>Transmisión</option>
                            </select>
                        </div>
                        <div class="filter_option p-0 mb-3 mb-md-0 pr-md-3">
                            <select class="form-control capitalize" id="color_filter" name="color" disabled>
                                <option disabled selected>Seleccione un color</option>
                            </select>
                        </div>
                        <button class="btn btn-warning filter_option border-0 mb-3 mb-md-0">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"></path>
                                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"></path>
                            </svg>Buscar
                        </button>
                    </form>
                    <% } %>
                </div>
            </nav>
        </div>
    </div>
</div>