<footer class="pt-5 pb-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-4">
                <h5 class="mb-3">Legal</h5>
                <div><a href="#">Térmonos y condiciones</a></div>
                <div><a href="#">Políticas de privacidad</a></div>
            </div>
            <div class="col-4">
                <h5 class="mb-3">Nosotros</h5>
                <div><a href="#">Lorem, ipsum.</a></div>
                <div><a href="#">Lorem, ipsum dolor.</a></div>
            </div>
            <div class="col-4">
                <h5 class="mb-3"> Lorem, ipsum.</h5>
                <div><a href="#">Lorem, ipsum.</a></div>
                <div><a href="#">Lorem, ipsum dolor.</a></div>
            </div>
            <div class="col-12 mt-5">
                <p class="m-0">Todos los derechos reservados CAR2 S.A.S</p>
                <p class="m-0">Bogotá Colombia Sur América 2020</p>
                <div class="social d-flex justify-content-center mt-2">
                    <div class="mr-3">
                        <a href="https://www.facebook.com/" target="_blank">
                            <span><i class="fab fa-facebook-f"></i></span>
                        </a>
                    </div>    
                    <div class="mr-3">
                        <a href="https://twitter.com/?lang=es" target="_blank">
                            <span><i class="fab fa-twitter"></i></span>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.instagram.com/" target="_blank">
                            <span><i class="fab fa-instagram"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>