
<header class="header pt-4 pb-4 position-fixed fixed-top w-100 bg-white shadow-sm" id="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light  d-flex justify-content-between align-items-center pr-0 pl-0">
            <div>
                <a href="/">
                    <img src="/img/logo.png" alt="logo">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> 
            <div class="collapse navbar-collapse" id="navbarSupportedContent">  
                <ul class="mb-0 ml-auto d-flex  mt-5 mt-lg-0 flex-column d-lg-block p-0  ul_menu">
                    <li class="pt-4 pb-4 pt-lg-0 pb-lg-0 d-inline pr-0 pr-md-2 text-center"><a href="/about">Nosotros</a></li>
                    <li class="pt-4 pb-4 pt-lg-0 pb-lg-0 d-inline pr-0 pr-md-2 text-center"><a href="/howtobuy">Como comprar</a></li>
                    <li class="pt-4 pb-4 pt-lg-0 pb-lg-0 d-inline pr-0 pr-md-2 text-center"><a href="/support">Soporte</a></li>
                    <% if(user){ %>
                        <% if(user.role !== 'superAdmin'){ %>
                            <li class="pt-4 pb-4 pt-lg-0 pb-lg-0 d-inline text-center pl-2"><a href="/user/logout">Cerrar sesión</a></li>
                            <li class="pt-4 pb-4 pt-lg-0 pb-lg-0 d-inline text-center ml-2">
                                <a href="/profile">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-envelope-fill text-black-50" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                                    </svg>
                                </a>
                            </li>
                        <% } %>    
                        <% if( user.role == 'superAdmin'){ %>
                            <li class="pt-4 pb-4 pt-lg-0 pb-lg-0 d-inline text-center pl-2"><a href="/newProduct">Subir producto</a></li>
                            <li class="pt-4 pb-4 pt-lg-0 pb-lg-0 d-inline text-center pl-2"><a href="/getCars">Ver productos</a></li>
                            <li class="pt-4 pb-4 pt-lg-0 pb-lg-0 d-inline text-center pl-2"><a href="/users">Usuarios</a></li>
                            <li class="pt-4 pb-4 pt-lg-0 pb-lg-0 d-inline text-center pl-2"><a href="/user/logout">Cerrar sesión</a></li>
                            <li class="pt-4 pb-4 pt-lg-0 pb-lg-0 d-inline text-center ml-2">
                                <a href="/profile">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-envelope-fill text-black-50" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                                    </svg>
                                </a>
                            </li>
                        <% } %>    
                    <% } %>  
                    <% if(!user){ %>
                        <li class="pt-4 pb-4 pt-lg-0 pb-lg-0 d-inline text-center d-md-none">
                            <a class="dropdown-item pt-2 pb-2 unactive" href="/logIn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-forward-fill mr-3" viewBox="0 0 16 16">
                                    <path d="M9.77 12.11l4.012-2.953a.647.647 0 0 0 0-1.114L9.771 5.09a.644.644 0 0 0-.971.557V6.65H2v3.9h6.8v1.003c0 .505.545.808.97.557z"/>
                                </svg>
                                Entrar
                            </a>
                        </li>
                        <li class="pt-4 pb-4 pt-lg-0 pb-lg-0 d-inline text-center d-md-none mb-3">
                            <a class="dropdown-item pt-2 pb-2 unactive" href="/signUp">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill mr-3" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                                </svg>
                                Registrarse
                            </a>
                        </li>

                        <li class="pt-4 pb-4 pt-lg-0 pb-lg-0 d-none d-md-inline text-center pl-2">
                            <div class="dropdown d-inline">
                                <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-box-arrow-down-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8.636 12.5a.5.5 0 0 1-.5.5H1.5A1.5 1.5 0 0 1 0 11.5v-10A1.5 1.5 0 0 1 1.5 0h10A1.5 1.5 0 0 1 13 1.5v6.636a.5.5 0 0 1-1 0V1.5a.5.5 0 0 0-.5-.5h-10a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h6.636a.5.5 0 0 1 .5.5z"/>
                                        <path fill-rule="evenodd" d="M16 15.5a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1 0-1h3.793L6.146 6.854a.5.5 0 1 1 .708-.708L15 14.293V10.5a.5.5 0 0 1 1 0v5z"/>
                                    </svg>
                                </a>
                                <div class="dropdown-menu mt-3  shadow-sm rounded-0 p-0" aria-labelledby="dropdownMenuLink" style="left: -140px;">
                                    <a class="dropdown-item pt-2 pb-2" href="/logIn">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-forward-fill mr-3" viewBox="0 0 16 16">
                                            <path d="M9.77 12.11l4.012-2.953a.647.647 0 0 0 0-1.114L9.771 5.09a.644.644 0 0 0-.971.557V6.65H2v3.9h6.8v1.003c0 .505.545.808.97.557z"/>
                                        </svg>
                                        Entrar
                                    </a>
                                    <a class="dropdown-item pb-2 pt-2" href="/signUp">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill mr-3" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                                        </svg>
                                        Registrarse
                                    </a>
                                </div>
                            </div>
                        </li>
                    <% } %>
                </ul>
            </div>
        </nav>
    </div>
</header>